button {
	border: none;
	background-color: rgb(14 220 240 / 86%);
	font-size: 3rem;
	color: rgb(255, 255, 255);
	font-weight: bold;
	cursor: pointer;
	border-radius: 10px;
	outline: none;
}

button:hover,
button:focus {
	background-color: rgb(255 150 3 / 97%);
}

.equals {
	grid-column: 3 / 5;
	background-color: rgb(110 243 29);
	color: black;
}

.equals:hover,
.equals:focus {
	background-color: rgb(110 243 29 / 75%);
}

.delete {
	background-color: red;
	font-size: 2rem;
}

.delete:hover,
.delete:focus {
	background-color: rgb(213 30 30);
}

@media screen and (max-width: 480px) {
	button {
		font-size: 2rem;
	}
	.delete {
		font-size: 1rem;
	}
}
